<ion-view view-title="Bling My Cat">
  <ion-content>
    <button class="button button-block button-energized" ng-click="view.addImage()">
      <i class="icon ion-plus-round"></i>
      New Bling
    </button>
    <div class="list card" ng-repeat="image in view.images">
      <div class="blinged-image">
        <a nav-transition="ios" nav-direction="forward" ng-click="view.genericShare(image)">
          <img ng-src="{{view.urlForImage(image)}}"/>
        </a>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="view.tweet(image)">
          <i class="icon ion-social-twitter-outline"></i>
          Tweet
        </a>
        <a class="tab-item" ng-click="view.fbShare(image)">
          <i class="icon ion-social-facebook-outline"></i>
          Post
        </a>
        <a class="tab-item" ng-click="view.genericShare(image)">
          <i class="icon ion-ios-upload-outline"></i>
          Share...
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
